/* ----- SPLAHS -----*/

#splash {
    background-image: url(img/forside_splash.jpg);
    height: 66vw;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}


/* ----- VELKOMMEN -----*/

#velkommen {
    display: flex;
    Flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    padding: 10vw 0vw 5vw 0vw;
}

#velkommen .pil {
    font-size: 4em;
}

#velkommen .underskrift {
    padding-top: 4vh;
}

#velkommen .underskrift img {
    width: 17vw;
}

/* ----- ANIMATION -----*/

.img_animation {
    animation-name: img_ani;
    animation-duration: 6s;
    animation-duration: 1;
    animation-fill-mode: forwards;
    transition-timing-function: linear;
}



@keyframes img_ani {

    0% {
        transform: rotate(0deg) translate(-15px) rotate(0deg);

    }

    100% {
        transform: rotate(360deg) translate(-15px) rotate(-360deg);
    }

}



.border_animation {

    animation-name: border_ani;
    animation-duration: 6s;
    animation-duration: 1;
    animation-fill-mode: forwards;
    transition-timing-function: linear;
}

@keyframes border_ani {

    0% {
        transform: rotate(0deg) translate(15px) rotate(0deg);

    }

    100% {
        transform: rotate(360deg) translate(-15px) rotate(-360deg);
    }

}


/* ----- PRÆSENTATION -----*/

#praesentation {
    Display: flex;
    Flex-wrap: wrap;
}

.praesentation_top {

    padding: 0vw 3vw 0vw 0vw;

    Display: flex;
    Flex-wrap: wrap;
    justify-content: center;

    Flex-basis: 300px;
    Flex-grow: 1;
}

.praesentation_top .txt {
    padding: 8vw 0vw 18vw 0vw;
}

.praesentation_top .img_border {
    width: 100%;
    height: 65vh;

    Flex-basis: 300px;
    Flex-grow: 1;
}


.praesentation_top .img {
    background-image: url(img/forsideet.png);
    width: 100%;
    height: 55vh;
    background-position: 65%;
    background-size: cover;

    Flex-basis: 300px;
    Flex-grow: 1;
}

.praesentation_top .border {
    border-color: #D3D3D3;
    border-style: solid;
    width: 100%;
    height: 55vh;

    position: relative;
    top: -50vh;
    left: 10vw;

    Flex-basis: 300px;
    Flex-grow: 1;
    z-index: -1;
}


.praesentation_bottom {

    padding: 0vw 0vw 0vw 3vw;

    Display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;

    Flex-basis: 300px;
    Flex-grow: 1;
}

.praesentation_bottom .txt {
    font-size: 1.8em;
    padding: 6vw 0vw 12vw 0vw;
    text-align: center;
    color: #011EE2;
}

.praesentation_bottom .img_border {
    width: 100%;
    height: 45vh;

    Flex-basis: 300px;
    Flex-grow: 1;
}


.praesentation_bottom .img {
    background-image: url(img/forsideto.png);
    width: 100%;
    height: 35vh;
    background-size: cover;

    Flex-basis: 300px;
    Flex-grow: 1;
}

.praesentation_bottom .border {
    border-color: #F5F4EC;
    border-style: solid;
    width: 100%;
    height: 35vh;

    position: relative;
    top: -30vh;
    left: -10vw;

    Flex-basis: 300px;
    Flex-grow: 1;
    z-index: 2;
}

#praesentation button {
    width: 150px;
    height: 35px;
    background-color: #D3D3D3;

}

#praesentation button a {
    color: #000000;

}

/* ----- INSPIRATION -----*/


#inspiration .desktop {
    display: none;
    background-image: url(img/forsidelang.jpg);
}

#inspiration .mobil {
    display: flex;
    flex-wrap: wrap;
}

.mobil_img {
    background-image: url(img/forsidelang.jpg);
    width: 100vw;
    height: 25vh;
    background-position: 70%;
    background-size: cover;
}

.mobil_txt {
    padding: 15vw 10vw 15vw 10vw;
    Flex-basis: 300px;
    Flex-grow: 1;
}

#inspiration button {
    margin: 8vw 0vw 0vw 0vw;
    width: 150px;
    height: 35px;
    background-color: #D3C7AC;

}

#inspiration button a {
    color: #ffffff;

}

/* ----- UDVALG -----*/


#udvalg {
    Display: flex;
    Flex-wrap: wrap;
}

.udvalg_left {
    Display: flex;
    Flex-wrap: wrap;
    justify-content: center;

    Flex-basis: 300px;
    Flex-grow: 1;
    padding: 0vw 0vw 30vw 0vw;
}

.udvalg_left .img_border {
    width: 100%;
    height: 70vh;

    Flex-basis: 300px;
    Flex-grow: 1;
}


.udvalg_left .img {
    background-image: url(img/forsidefire.png);
    width: 95%;
    height: 60vh;
    background-size: cover;
    background-position: 50%;
    Flex-basis: 300px;
    Flex-grow: 1;
}

.udvalg_left .border {
    border-color: #F5F4EC;
    border-style: solid;
    width: 95%;
    height: 60vh;

    position: relative;
    top: -55vh;
    left: 10vw;

    Flex-basis: 300px;
    Flex-grow: 1;
    z-index: 2;
}

.udvalg_left .txt {
    padding: 8vw 0vw 0vw 0vw;
}

.udvalg_right {
    Display: flex;
    Flex-wrap: wrap;
    justify-content: center;

    Flex-basis: 300px;
    Flex-grow: 1;

    padding: 0vw 3vw 10vw 0vw;
}


.udvalg_right .img_border {
    width: 100%;
    height: 55vh;

    Flex-basis: 300px;
    Flex-grow: 1;
}


.udvalg_right .img {
    background-image: url(img/forsidefem.jpg);
    width: 100%;
    height: 45vh;
    background-size: cover;

    Flex-basis: 300px;
    Flex-grow: 1;
}

.udvalg_right .border {
    border-color: #D3C7AC;
    border-style: solid;
    width: 100%;
    height: 45vh;

    position: relative;
    top: -50vh;
    left: 10vw;

    Flex-basis: 300px;
    Flex-grow: 1;
    z-index: -2;
}

#udvalg button {
    margin: 10vw 0vw 0vw 0vw;
    width: 150px;
    height: 35px;
    background-color: #E6E6E6;

}

#udvalg button a {
    color: #000000;

}

/* ----- MEDIA QUERY 465 -----*/

@media only screen and (min-width: 465px) {

    /* INSPIRATION */

    .mobil_img {
        height: 30vh;
    }

    .mobil_txt {
        padding: 10vw 15vw 10vw 15vw;
        Flex-basis: 300px;
        Flex-grow: 1;
    }

    .udvalg_left {
        padding: 0vw 0vw 23vw 0vw;
    }

    /* UDVALG */

    .udvalg_left .txt {
        padding: 3vw 0vw 0vw 0vw;

    }

    .udvalg_right .img_border {
        height: 53vh;
    }


}

/* ----- MEDIA QUERY 540 -----*/

@media only screen and (min-width: 540px) {

    /* PRÆSENTATION */

    .praesentation_top .img {
        height: 65vh;
    }

    .praesentation_top .border {
        height: 65vh;
        top: -60vh;
        left: 7vw;
    }

    .praesentation_top .txt {
        padding: 18vw 0vw 15vw 0vw;
    }

    .praesentation_bottom .border {
        left: -7vw;
    }

    .praesentation_bottom .txt {
        padding: 2vw 0vw 9vw 0vw;
    }

    /* UDVALG */

    .udvalg_left .img {
        height: 65vh;
    }

    .udvalg_left .border {
        height: 65vh;
        position: relative;
        top: -60vh;
        left: 7vw;
    }

    .udvalg_left .txt {
        padding: 10vw 0vw 0vw 0vw;
    }

    .udvalg_right .img {
        height: 50vh;
    }

    .udvalg_right .border {
        height: 50vh;
        top: -55vh;
        left: 7vw;
    }

    .udvalg_right .txt {
        padding: 7vw 0vw 0vw 0vw;
    }

}

/* ----- MEDIA QUERY 600 -----*/

@media only screen and (min-width: 600px) {

    #splash {
        height: 50vw;
    }
}



/* ----- MEDIA QUERY 750 -----*/

@media only screen and (min-width: 750px) {

    #velkommen {

        padding: 7vw 8vw 13vw 8vw;
    }

    #velkommen .pil {
        font-size: 3em;
    }

    #praesentation {
        flex-direction: column;
    }

    .praesentation_top {
        padding: 0vw;
        Flex-wrap: nowrap;
        Flex-basis: 300px;
        Flex-grow: 1;
    }

    .praesentation_top .img {
        width: 95%;
        height: 40vh;
    }

    .praesentation_top .border {
        width: 95%;
        height: 40vh;
        top: -42vh;
        left: 3vw;
    }


    .praesentation_top .txt {
        padding: 2vw 0vw 0vw 4vw;
        Flex-basis: 300px;
        Flex-grow: 1;
    }

    #praesentation .praesentation_top .img_border {
        max-height: 45vw;
    }

    .praesentation_bottom {
        padding: 12vw 0vw 0vw 0vw;
        Flex-wrap: nowrap;
    }

    .praesentation_bottom .img {
        width: 95%;
        height: 30vh;
    }

    .praesentation_bottom .border {
        width: 95%;
        height: 30vh;
        top: -32vh;
        left: 3vw;
    }


    .praesentation_bottom .txt {
        padding: 7vw 0vw 0vw 0vw;
        Flex-basis: 300px;
        Flex-grow: 1;
        font-size: 1.4em;
    }

    #praesentation .praesentation_bottom .img_border {
        max-height: 45vw;
        Flex-basis: 300px;
        Flex-grow: 1;
    }


    #inspiration .desktop {
        display: inherit;
        background-image: url(img/forsidelang.jpg);
        background-size: cover;
        background-position: 70%;
        width: 100vw;
        height: 35vh;

    }

    .desktop_txt {
        padding: 5vh 5vw 0vw 52vw;
        Flex-basis: 200px;
        Flex-grow: 1;
    }

    #inspiration .mobil {
        display: none;
    }


    #inspiration button {
        margin: 3vh 0vw 0vw 0vw;
        width: 150px;
        height: 35px;
        background-color: #D3C7AC;

    }

    #inspiration button a {
        color: #ffffff;

    }

    .udvalg_left .img_border {
        margin: 0vw 2vw 0vw 0vw;
        max-height: 40vh;
    }

    .udvalg_left .img {
        width: 98%;
        height: 40vh;
    }

    .udvalg_left .border {
        height: 40vh;
        top: -38vh;
        left: -4vw;
    }

    .udvalg_left .txt {
        padding: 5vw 0vw 0vw 0vw;
        margin: 0vw 4vw 0vw 0vw;
    }

    .udvalg_right .img_border {
        margin: 30vw 0vw 0vw 1vw;
        max-height: 20vh;
    }

    .udvalg_right .img {
        width: 110%;
        height: 30vh;
    }

    .udvalg_right .border {
        width: 110%;
        height: 30vh;
        top: -33vh;
        left: 3vw;
    }

    .udvalg_right .txt {
        padding: 15vw 0vw 0vw 0vw;
        margin: 0vw 0vw 0vw 4vw;
    }

    #udvalg button {
        margin: 4vw 0vw 0vw 0vw;
    }

}


/* ----- MEDIA QUERY 824 -----*/

@media only screen and (min-width: 824px) {
    #splash {
        height: 30vw;
    }
}

/* ----- MEDIA QUERY 850 -----*/

@media only screen and (min-width: 850px) {

    #velkommen {

        padding: 5vw 10vw 12vw 10vw;
    }

    .praesentation_top .img {
        height: 55vh;
    }

    .praesentation_top .border {
        height: 55vh;
        top: -58vh;
    }

    #praesentation .praesentation_top .img_border {
        max-height: 50vw;
    }

    .praesentation_bottom .img {
        height: 40vh;
    }

    .praesentation_bottom .border {
        height: 40vh;
        top: -43vh;
    }

    .udvalg_left .img_border {
        margin: 0vw 2vw 0vw 0vw;
        max-height: 58vh;
    }

    .udvalg_left .img {
        width: 95%;
        height: 55vh;
    }

    .udvalg_left .border {
        height: 55vh;
        top: -52vh;
        left: -3vw;
    }

    .udvalg_right .img_border {
        max-height: 25vh;
    }

    .udvalg_right .img {
        width: 115%;
        height: 35vh;
    }

    .udvalg_right .border {
        width: 115%;
        height: 35vh;
        top: -38vh;
    }
}

/* ----- MEDIA QUERY 1050 -----*/

@media only screen and (min-width: 1050px) {
    #velkommen {
        padding: 5vw 15vw 10vw 15vw;
    }

    .praesentation_bottom {
        padding: 6vw 0vw 0vw 0vw;
        margin: 0vw 2vw 6vw 0vw;
    }

    #inspiration .desktop {
        height: 45vh;
        margin: 0vw 0vw 10vw 0vw;
    }

    .desktop_txt {
        padding: 10vh 12vw 0vw 52vw;
    }

    #udvalg {
        padding: 0vw 3vw 0vw 3vw;
    }

    .udvalg_left .img_border {
        max-height: 60vh;
    }

    .udvalg_left .img {
        height: 60vh;
    }

    .udvalg_left .border {
        height: 60vh;
        top: -57vh;
    }

    .udvalg_right .img_border {
        margin: 15vw 0vw 0vw 1vw;
    }

    .udvalg_right .img_border {
        max-height: 25vh;
    }

    .udvalg_right .img {
        height: 45vh;
    }

    .udvalg_right .border {
        height: 45vh;
        top: -41vh;
    }

}

/* ----- MEDIA QUERY 1200 -----*/

@media only screen and (min-width: 1200px) {

    #velkommen {
        padding: 3vw 15vw 8vw 15vw;
    }

    .praesentation_bottom {
        padding: 4vw 0vw 0vw 0vw;
        margin: 0vw 2vw 4vw 0vw;
    }

    #praesentation .praesentation_bottom .img_border {
        max-height: 50vw;
    }

    .praesentation_bottom .img {
        height: 45vh;
    }

    .praesentation_bottom .border {
        height: 45vh;
        top: -41vh;
    }

    .desktop_txt {
        padding: 10vh 12vw 0vw 58vw;
    }

    #inspiration .desktop {
        height: 46vh;
        margin: 0vw 0vw 6vw 0vw;
    }

    .udvalg_right .border {
        left: 2vw;
    }


}
