#kontakt_billede {
    display: none;
}

.kontakt_tekst {
    padding-right: 5vw;
}

#splash_kontakt {
    background-image: url(img/splash_kontakt.jpg);
    height: 66vw;
    width: 100vw;
    background-position: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

#kort_billede {
    background-image: url(img/Rectangle%20206.png);
    height: 30vw;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10vw;
}

#kontakt h1 {
    color: #011EE2;
    padding-bottom: 5vw;
    font-size: 1.5em;
}

#findos h1 {
    color: #D3C7AC;
    padding-bottom: 4vw;
}

#kontakt h3 {
    font-family: gopher, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 1rem;
    padding-top: 5vw;
}

#kontakt {
    display: flex;
}

.find_billede {
    height: 30vw;
    width: 30vw;
    background-image: url(img/kontaktto.jpg);
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

.kontakt_knap {
    height: 10vw;
    width: 32vw;
    background-color: #F5F4EC;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 350;
    display: flex;
    justify-content: center;
    padding-top: 2.5vw;
    margin-top: 5vw;
    font-size: 0.9em;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-decoration: none;
    z-index: 2;
    color: black;
}

.billedekontakt {
    height: 39vw;
    width: 36vw;
    background-image: url(img/kontaktet.png);
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 8vw;
}

#kontakt_billede {
    margin-top: 6vw;
}

#kort {
    grid-area: kort;
}

.borderkontakt {
    height: 40vw;
    width: 36vw;
    border-style: solid;
    border-width: 4px;
    border-color: #D3C7AC;
    position: relative;
    z-index: auto;
    top: -35vw;
    left: 5vw;
}

#findos {
    grid-area: find;
}

@media only screen and (min-width:600px) {
    #splash_kontakt {
        height: 50vw;
    }
}

@media only screen and (min-width:824px) {
    #findos {
        display: flex;
        justify-content: space-between;
    }

    #findos p {
        width: 35vw;
    }

    #kontakt_billede {
        display: block;
    }

    #splash_kontakt {
        height: 30vw;
    }

    .find_billede {
        height: 37vw;
    }

    #kontakt {
        flex-direction: row-reverse;
        justify-content: space-between;
    }


    #kontakt h1 {
        padding: 0;
        padding-top: 2.5vw;
    }

    #kontakt h3 {
        padding-bottom: 0;
        padding-top: 3vw;
    }


    #kort_billede {
        margin-top: 8vw;
        padding-top: 0;
    }

    .kontakt_tekst {
        height: 45vw;
    }

    #kontakt_billede {
        height: 45vw;
    }

    .billedekontakt {
        background-size: 70%;
        margin-top: 3.5vw;
    }

    .borderkontakt {
        height: 31vw;
        width: 24vw;
        top: -35vw;
        left: 5vw;
    }

    .book_knap {
        margin-top: 4vw;
        height: 5vw;
        width: 15vw;
        padding-top: 2vw;
    }

}

@media only screen and (min-width:1050px) {
    #findos p {
        width: 30vw;
    }

    #kontakt_billede {
        margin: 0;
    }

    .borderkontakt {
        height: 31vw;
        width: 24vw;
        top: -35vw;
        left: 5vw;
    }

    #kontakt {
        margin-bottom: 0;
    }


    #kort_billede {
        margin-top: 0;
        height: 20vw
    }
}
