/* ----- SPLAHS -----*/

#splash {
    background-image: url(img/forside_placeholder.png);
    height: 66vw;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}


/* ----- PRÆSENTATION -----*/

#praesentation {
    Display: flex;
    Flex-wrap: wrap;
}

.praesentation_top {

    padding: 0vw 3vw 0vw 0vw;

    Display: flex;
    Flex-wrap: wrap;
    justify-content: center;

    Flex-basis: 300px;
    Flex-grow: 1;
}

.praesentation_top .txt {
    padding: 8vw 0vw 18vw 0vw;
}

.praesentation_top .img_border {
    width: 100%;
    height: 65vh;

    Flex-basis: 300px;
    Flex-grow: 1;
}


.praesentation_top .img {
    background-image: url(forside_img/Image%203.png);
    width: 100%;
    height: 55vh;
    background-size: cover;

    Flex-basis: 300px;
    Flex-grow: 1;
}

.praesentation_top .border {
    border-color: #D3D3D3;
    border-style: solid;
    width: 100%;
    height: 55vh;

    position: relative;
    top: -50vh;
    left: 10vw;

    Flex-basis: 300px;
    Flex-grow: 1;
    z-index: -1;
}


.praesentation_bottom {

    padding: 0vw 0vw 0vw 3vw;

    Display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;

    Flex-basis: 300px;
    Flex-grow: 1;
}

/*
.praesentation_bottom .txt {
    font-size: 1.8em;
    padding: 6vw 0vw 12vw 0vw;
    text-align: center;
    color: #011EE2;
}
*/

.praesentation_bottom .img_border {
    width: 100%;
    height: 45vh;

    Flex-basis: 300px;
    Flex-grow: 1;
}


.praesentation_bottom .img {
    background-image: url(forside_img/Rectangle%20122.png);
    width: 100%;
    height: 35vh;
    background-size: cover;

    Flex-basis: 300px;
    Flex-grow: 1;
}

.praesentation_bottom .border {
    border-color: #F5F4EC;
    border-style: solid;
    width: 100%;
    height: 35vh;

    position: relative;
    top: -30vh;
    left: -10vw;

    Flex-basis: 300px;
    Flex-grow: 1;
    z-index: 2;
}

#praesentation button {
    width: 150px;
    height: 35px;
    background-color: #D3D3D3;

}

#praesentation button a {
    color: #000000;

}


/* ----- MEDIA QUERY 465 -----*/

@media only screen and (min-width: 465px) {}

/* ----- MEDIA QUERY 540 -----*/

@media only screen and (min-width: 540px) {

    /* PRÆSENTATION */

    .praesentation_top .img {
        height: 65vh;
    }

    .praesentation_top .border {
        height: 65vh;
        top: -60vh;
        left: 7vw;
    }

    .praesentation_top .txt {
        padding: 18vw 0vw 15vw 0vw;
    }

    .praesentation_bottom .border {
        left: -7vw;
    }

    .praesentation_bottom .txt {
        padding: 2vw 0vw 9vw 0vw;
    }

    .praesentation_bottom .txt p {
        font-family: montserrat, sans-serif;

        font-weight: 300;

        font-style: normal;
    }


    .praesentation_bottom .txt h1 {
        font-family: gopher, sans-serif;

        font-weight: 400;

        font-style: normal;
        font-size: 1.2rem;
        font-size: 1.5em;
    }
}

/* ----- MEDIA QUERY 600 -----*/

@media only screen and (min-width: 600px) {

    #splash {
        height: 50vw;
    }
}



/* ----- MEDIA QUERY 750 -----*/

@media only screen and (min-width: 750px) {

    #praesentation {
        flex-direction: column;
    }

    .praesentation_top {
        padding: 0vw;
        Flex-wrap: nowrap;
        Flex-basis: 300px;
        Flex-grow: 1;
    }

    .praesentation_top .img {
        width: 95%;
        height: 40vh;
    }

    .praesentation_top .border {
        width: 95%;
        height: 40vh;
        top: -42vh;
        left: 3vw;
    }


    .praesentation_top .txt {
        padding: 2vw 0vw 0vw 4vw;
        Flex-basis: 300px;
        Flex-grow: 1;
    }

    #praesentation .praesentation_top .img_border {
        max-height: 45vw;
    }

    .praesentation_bottom {
        padding: 12vw 0vw 0vw 0vw;
        Flex-wrap: nowrap;
    }

    .praesentation_bottom .img {
        width: 95%;
        height: 30vh;
    }

    .praesentation_bottom .border {
        width: 95%;
        height: 30vh;
        top: -32vh;
        left: 3vw;
    }


    .praesentation_bottom .txt {
        padding: 7vw 0vw 0vw 0vw;
        Flex-basis: 300px;
        Flex-grow: 1;
        font-size: 1.4em;
    }

    #praesentation .praesentation_bottom .img_border {
        max-height: 45vw;
        Flex-basis: 300px;
        Flex-grow: 1;
    }

}


/* ----- MEDIA QUERY 824 -----*/

@media only screen and (min-width: 824px) {
    #splash {
        height: 30vw;
    }
}

/* ----- MEDIA QUERY 850 -----*/

@media only screen and (min-width: 850px) {

    #velkommen {

        padding: 5vw 10vw 12vw 10vw;
    }

    .praesentation_top .img {
        height: 55vh;
    }

    .praesentation_top .border {
        height: 55vh;
        top: -58vh;
    }

    #praesentation .praesentation_top .img_border {
        max-height: 50vw;
    }

    .praesentation_bottom .img {
        height: 40vh;
    }

    .praesentation_bottom .border {
        height: 40vh;
        top: -43vh;
    }

}

/* ----- MEDIA QUERY 1050 -----*/

@media only screen and (min-width: 1050px) {

    .praesentation_bottom {
        padding: 6vw 0vw 0vw 0vw;
        margin: 0vw 2vw 6vw 0vw;
    }

}

/* ----- MEDIA QUERY 1200 -----*/

@media only screen and (min-width: 1200px) {

    .praesentation_bottom {
        padding: 4vw 0vw 0vw 0vw;
        margin: 0vw 2vw 4vw 0vw;
    }

    #praesentation .praesentation_bottom .img_border {
        max-height: 50vw;
    }

    .praesentation_bottom .img {
        height: 45vh;
    }

    .praesentation_bottom .border {
        height: 45vh;
        top: -41vh;
    }

}
