/*GENEREL STYLING................. */


* {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.hide {
    display: none;
}

img {
    width: 100%;
}

html {
    margin: 0;
    padding: 0;
}

main {
    margin: 5% 10%;
}

header nav a:link {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}

nav a:visited {
    color: white;
}

p {
    font-family: montserrat, sans-serif;

    font-weight: 300;

    font-style: normal;
}


h1 {
    font-family: gopher, sans-serif;

    font-weight: 400;

    font-style: normal;
    font-size: 1.2rem;
    font-size: 1.5em;
    margin-bottom: 1.3vw;
}

h3 {
    font-family: montserrat, sans-serif;

    font-weight: 300;

    font-style: normal;
}

/*Styling af menu..................*/
#menuknap {
    font-size: 2.4em;
    margin: 0px 15px;
    color: white;

}

/* visited link */
header nav a:visited {
    text-decoration: none;
}

#menu a,
#menu div {
    padding-right: 2vw;
    padding-left: 2vw;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 12vw;
    height: 3vw;
    grid-area: nav;
}

nav a {
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 0.9em;
    padding-top: 1vw;
    color: white;
}

nav p {
    font-family: gopher, sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: center;
    color: white;

}



#menu,
nav {
    display: none;
}


.valgt {
    background-color: rgba(191, 189, 189, 0.47);
}



/*STYLING AF BURGER.........*/
.hidden {
    transform: scale(0);
    display: none;
    transform: translateX(-100%);
    opacity: 0;
}

#menuknapluk {
    font-size: 3em;
    color: black;
    font-family: gopher, sans-serif;
    font-style: normal;
    font-weight: 100;
    padding-left: 8vw
}

#burger {
    height: 100vw;
    background-color: #F5F4EC;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 100vw;
    z-index: 100;
    list-style: none;
    padding-top: 11vw
}

#burger a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    font-family: montserrat, sans-serif;

    font-weight: 300;

    font-style: normal;
    text-align: center;
}

#burger li {
    padding-top: 2vw;
    padding-bottom: 5vw;
    padding-left: 7vw;
}



/*STYLING AF FOOTER..........*/

footer {
    background-color: #8B8A88;
    margin-top: 5vw;
    font-size: 0.8em;
    padding-top: 2vw;
    padding-bottom: 2vw;

}

footer h3 {
    font-family: gopher, sans-serif;
}

.footer_indhold {
    margin: 0% 10%;
    display: flex;
    justify-content: space-between;
}

.insta {
    height: 2.3vh;
    width: 2.3vw;
}

.mail {
    height: 3vh;
    width: 3vw;
    color: white;
}

.telefon {
    height: 2.3vh;
    width: 2.3vw;
}

.some {
    display: none;
    justify-content: space-between;
    width: 10vw;
    padding-top: 2vh;
}

/*STYLING AF DROPDOWN.........*/

#dropdown_wrap {
    background-color: #F5F4EC;
    margin: 0px;
    z-index: 500;
    width: 100%;
    position: fixed;
    height: 48vw;
    top: 10vw;
}

.kat .filterknapper {
    border: none;
    background-color: #F5F4EC;
    font-size: 1em;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-top: 2vw;
    padding-bottom: 4vw;
    display: flex;
    padding-left: 8vw;
}

.kat {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;

}

.filt_knap {
    padding-top: 0.3vw;
}




/*KNAPPER...........*/

.book_header {
    height: 3.3vw;
    width: 12vw;
    background-color: #F5F4EC;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 350;
    display: flex;
    justify-content: center;
    padding-top: 1vw;
    color: black;
    font-size: 0.9em;
    position: relative;
    top: -1.5vw;
    transition: .5s;
}

.book_knap {
    height: 11vw;
    width: 32vw;
    background-color: #F5F4EC;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 350;
    display: flex;
    justify-content: center;
    padding-top: 3vw;
    margin-top: 10vw;
    font-size: 0.9em;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-decoration: none;
    z-index: 2;
    color: black;
}

.book_knap {
    transition: 1s;

}

.book_header:hover {
    background: #011EE2;
    transform: scale(1.1);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    color: white;
}

.book_knap:hover {
    background: #d3d4d4;
    transform: scale(1.1);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
}



#udvalg button {
    height: 11vw;
    width: 32vw;
    background-color: #F5F4EC;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 350;
    display: flex;
    justify-content: center;
    margin-top: 10vw;
    font-size: 0.9em;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-decoration: none;
    z-index: 2;
    color: black;
    border: none;
    transition: .5s;
}

#udvalg button:hover {
    background: #d3d4d4;
    transform: scale(1.1);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
}

#inspiration button {
    height: 11vw;
    width: 32vw;
    background-color: #F5F4EC;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 350;
    display: flex;
    justify-content: center;
    margin-top: 10vw;
    font-size: 0.9em;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-decoration: none;
    z-index: 2;
    color: black;
    border: none;
    transition: .5s;
}

#inspiration button:hover {
    background: #9a9b9b;
    transform: scale(1.2);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
}

#praesentation button {
    height: 11vw;
    width: 32vw;
    background-color: #F5F4EC;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 350;
    justify-content: center;
    font-size: 0.9em;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-decoration: none;
    z-index: 2;
    color: black;
    border: none;
    font-size: 0.5em
}


.kontakt_knap {
    height: 5vw;
    width: 16vw;
    background-color: #F5F4EC;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 350;
    display: flex;
    justify-content: center;
    padding-top: 2vw;
    margin-top: 5vw;
    font-size: 0.9em;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-decoration: none;
    z-index: 2;
    color: black;
}


/*MEDIAQUERIES..............*/

@media only screen and (min-width:750px) {
    .some {
        display: flex;
    }
}

@media only screen and (min-width:824px) {

    #menu,
    nav {
        display: block;
    }



    #menuknap {
        transform: scale(0);
        display: none;
        transform: translateX(-100%);
        opacity: 0;
    }

    #menu {
        display: flex;
        justify-content: space-between;
        padding-top: 2vw;
        padding-bottom: 2vw;
        color: white;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.51);
        position: fixed;
        height: 7vw;
        width: 100%;
        z-index: 3;
    }

    #menu a:hover {
        color: #D2C7AC;
    }

    .hjalmar {
        position: relative;
        top: -1vw
    }

}


@media only screen and (max-width:970px) {
    nav {
        font-size: 0.8em;
    }

}


#velkommen,
#praesentation,
#udvalg,
#om,
#findos,
#kontakt,
#book_beskrivelse {
    max-width: 1000px;
    margin: auto;
}
