/*GENEREL STYLING................. */


* {
    margin: 0;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

header nav a:link {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}

nav a:visited {
    color: white;
}



p {
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 0.8em;
}


h1 {
    font-family: gopher, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 1.2em;
    padding-bottom: 4vw;
}

h3 {
    font-size: 0.8em;
}

/*Styling af menu..................*/
#menuknap {
    font-size: 2.4em;
    margin: 0px 15px;
    color: white;

}

/* visited link */
header nav a:visited {
    text-decoration: none;
}

#menu a,
#menu div {
    padding-right: 2vw;
    padding-left: 2vw;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 12vw;
    height: 5vw;
}

nav {
    display: none;
    /*
    display: flex;
    justify-content: space-around;
    width: 100vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    color: white;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.38);
*/
    /*    padding: 35px 190px;*/

}

nav a {
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 0.9em;
    padding-top: 1vw;
    color: white;
}

nav p {
    font-family: gopher, sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: center;
    color: white;

}

.book_header {
    height: 3.3vw;
    width: 12vw;
    background-color: #F5F4EC;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 350;
    display: flex;
    justify-content: center;
    padding-top: 1vw;
    color: black;
    font-size: 0.7em;
    position: relative;
    top: -1.5vw;
    left: 8vw;
}

/*STYLING AF BURGER.........*/
.hidden {
    transform: scale(0);
    display: none;
    transform: translateX(-100%);
    opacity: 0;
}

#menuknapluk {
    font-size: 3em;
    color: white;
    font-family: gopher, sans-serif;
    font-style: normal;
    font-weight: 100;
    padding-left: 8vw
}

#burger {
    height: 200vw;
    background-color: #D3C7AC;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 100vw;
    z-index: 100;
    list-style: none;
    padding-top: 11vw
}

#burger a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: gopher, sans-serif;
    font-style: normal;
    font-weight: 100;
    text-align: center;
    color: white;
}

#burger li {
    padding-top: 2vw;
    padding-bottom: 5vw;
    padding-left: 7vw;
}



/*STYLING AF FOOTER..........*/

footer {
    background-color: #8B8A88;
    margin-top: 5vw;
    font-size: 0.8em;
    padding-top: 2vw;
    padding-bottom: 2vw;
    height: 60vw;

}

.footer_indhold {
    margin: 15px 55px;
}


/*STYLING AF FORSIDE...............*/
#splash {
    background-image: url(img/forside_placeholder.png);
    height: 66vw;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

/*STYLING AF GALLERI................*/
#splash2 {
    background-image: url(img/galleri_placeholder.png);
    height: 66vw;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

/*KONTAKTSIDEN STARTER HER...........*/

#kontakt_billede {
    display: none;
}

#kort {
    width: 20vw;
}


#kort {
    width: 50px;
    height: 50px;
}

p {

    word-break: break-all;

}

.omtekst1 p {
    width: 40px;
    word-break: break-all;
}

.find_tekst {
    padding-top: 5vw;
}

#kort {
    padding-left: 28vw;
}

.pil {
    font-size: 2em;
    padding-top: 35vw;
    padding-left: 15vw;
    padding-top: 0;
    position: fixed;
    top: 88vw;
    left: 78vw;
}

.pil2 {
    font-size: 2em;
    padding-top: 35vw;
    padding-left: 15vw;
    padding-top: 0;
    position: fixed;
    top: 88vw;
    left: -12vw;
}


.omtekst1 .pil2 {}

/*Scroll*/
#container_kontakt {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 90vw;

}

main {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

main {
    display: flex;
    flex-direction: row;
}




#splash_kontakt {
    background-image: url(img/kontakt_placeholderm.jpg);
    height: 65vw;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

#kort_billede {
    background-image: url(img/Rectangle%20206.png);
    height: 30vw;
    width: 50vw;
    background-size: cover;
    background-repeat: no-repeat;
}

#kontakt h1 {
    color: #011EE2;

}

#findos h1 {
    color: #D3C7AC;
    padding-bottom: 4vw;
}

#kontakt h3 {
    font-family: gopher, sans-serif;
    font-style: normal;
    font-weight: 100;
    padding-top: 5vw;
}

#kontakt {
    display: flex;
}

.book_knap {
    height: 7vw;
    width: 30vw;
    background-color: #F5F4EC;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 350;
    display: flex;
    justify-content: center;
    padding-top: 2vw;
    margin-top: 10vw;
    font-size: 0.9em;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-decoration: none;
    z-index: 2;
}

#kontakt_billede {
    height: 10vw;
}

.billedekontakt {
    height: 39vw;
    width: 36vw;
    background-image: url(img/billedeom3.png);
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 12vw;
}

.borderkontakt {
    height: 42vw;
    width: 36vw;
    border-style: solid;
    border-width: 4px;
    border-color: #D3C7AC;
    position: relative;
    z-index: auto;
    top: -38vw;
    left: 5vw;
}

#findos {
    grid-area: find;
    padding-top: 5vw;
    padding-bottom: 5vw;
}


/*OM OS STARTER HER......................*/

#om {
    display: flex;
    flex-direction: row;
    height: 90vw;
}

.omtekst1 {
    padding-top: 10vw;
    margin-right: 40vw;
}



.omtekst1 .book_knap {
    margin-top: 0;
}

#splash_omos {
    background-image: url(img/omos_placeholder.png);
    height: 45vw;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
}

#om h1 {
    color: #011EE2;
    font-size: 1.34em;
}

#om .omtekst2 h1 {
    color: black;
    padding-bottom: 4vw;
}

.billedeom2 {
    height: 70vw;
    width: 60vw;
    background-image: url(img/omos_2.png);
    position: relative;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
}

.billedeom3 {
    height: 70vw;
    width: 60vw;
    background-image: url(img/billedeom3.png);
    position: relative;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}

.omtekst1 {
    grid-area: om;
}

.omtekst2 {
    margin-right: 40;
    padding-top: 10vw;
}


.border {
    height: 70vw;
    width: 60vw;
    border-style: solid;
    border-width: 4px;
    border-color: #D3C7AC;
    position: relative;
    top: -60vw;
    left: 10vw;
    z-index: 1;

}

.border2 {
    height: 70vw;
    width: 60vw;
    border-style: solid;
    border-width: 4px;
    border-color: #D3D3D3;
    position: relative;
    top: -60vw;
    left: -7vw;
    z-index: 2;
}

.borderbillede2 {
    height: 115vw;
    grid-area: billede2;
    margin-left: 40vw;
    margin-right: 6vw;
}

.borderbillede {
    height: 110vw;
    margin-right: 40vw;
}

/*STYLING AF BOOK................*/
#splash_book {
    background-image: url(img/omos_placeholder.png);
    height: 65vw;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
}

#book_beskrivelse h1 {
    padding-bottom: 2vw;
}

.kontakt_knap {
    height: 7vw;
    width: 30vw;
    background-color: #F5F4EC;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 350;
    display: flex;
    justify-content: center;
    padding-top: 2vw;
    margin-top: 5vw;
    font-size: 0.9em;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-decoration: none;
    z-index: 2;
}

/*MEDIAQUERIES..............*/

@media only screen and (min-width:600px) {
    #splash_kontakt {
        height: 50vw;
    }


    #splash {
        height: 50vw;
    }

    #splash2 {
        height: 50vw;
    }

    #splash_book {
        height: 50vw;
    }

    #findos h1 {
        padding-bottom: 2vw;
        font-size: 1.5em;
    }



}

@media only screen and (min-width:500px) {



    .billedeom3 {
        background-size: 80%;
    }

    .billedeom2 {
        background-size: 80%;
    }

    .border {
        height: 60vw;
        width: 50vw
    }

    .border2 {
        height: 60vw;
        width: 50vw
    }

    .borderbillede {
        height: 85vw;
    }


    .borderbillede2 {
        height: 85vw;
    }
}


@media only screen and (min-width:751px) {
    #kontakt_billede {
        display: block;
    }

    nav {
        display: block;
        flex-direction: row-reverse;
        width: 100vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        color: white;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.38);
        position: fixed;
    }

    .hjalmar {
        position: relative;
        top: -1vw
    }

    #splash_kontakt {
        height: 20vw;
    }

    #splash {
        height: 20vw;
    }

    #splash2 {
        height: 20vw;
    }

    #splash_book {
        height: 20vw;
    }


    .omtekst1 {
        width: 40vw;
    }

    .omtekst2 {
        width: 40vw;
        margin-right: 40vw;
    }


    #om {
        display: grid;
        grid-template-columns: 50%;
        grid-template-areas: "billede1 om"
            "om2 billede2";
    }


    .billedeom2 {
        background-size: 40%;
        height: 50vw;
        margin: 0;
    }

    .billedeom3 {
        background-size: 40%;
        height: 50vw;
        margin: 0;
        left: 0;
    }

    .border {
        height: 28vw;
        width: 25vw;
        top: -41vw;
        left: 5vw;
    }

    .borderbillede,
    .borderbillede2 {
        height: 50vw;
        margin: 0;
        padding: 0;
        width: 10vw;
    }

    borderbillede {
        width: 10vw;
    }

    .border2 {
        height: 31vw;
        width: 27vw;
        top: -42vw;
        left: 4vw;
        margin: 0;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    omtekst1 {
        display: flex;
        flex-direction: column;
    }

    #splash_omos {
        height: 30vw;
    }

    #kontakt {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    #kontakt .book_knap {
        height: 5vw;
        width: 20vw;
        font-size: 0.8em;
        padding-top: 1.6vw;

    }

    #menuknap {
        transform: scale(0);
        display: none;
        transform: translateX(-100%);
        opacity: 0;
    }

    #kontakt h1 {
        padding: 0;
        padding-top: 2.5vw;
    }

    #kontakt h3 {
        padding-bottom: 0;
        padding-top: 3vw;
    }

    body main #kontakt_billede {
        padding-top: 3vw;
    }

    .book_knap {
        margin-top: 4vw;
    }


    .kontakt_tekst {
        height: 55vw;
    }

    #kontakt_billede {
        height: 55vw;
    }
}




@media only screen and (max-width:970px) {
    nav {
        font-size: 0.8em;
    }

}

/*
@media only screen and (max-width:750px) {

    .billedekontakt,
    .borderkontakt {
        transform: scale(0);
        display: none;
        transform: translateX(-100%);
        opacity: 0;
    }



    nav {
        transform: scale(0);
        display: none;
        transform: translateX(-100%);
        opacity: 0;
    }

    #kontakt {
        flex-direction: row;
        justify-content: space-between;
    }
}
*/

@media only screen and (min-width:1195px) {
    #findos p {
        padding-right: 15vw;
    }

    main {
        margin: 35px 100px;
    }

    .footer_indhold {
        margin: 35px 100px;
    }

    .billedekontakt {
        height: 35vw;
        width: 36vw;
    }

    .borderkontakt {
        height: 35vw;
        width: 36vw;
        top: -30vw;
        left: 5vw;
    }

    #kort_billede {
        margin-top: 0;
    }
}
